<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Slider</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="root" class="container">

        <div v-for="(item, index) in items"  class="full-img-container"
        :class='index === currentIndex? "active" : ""'>
           
        
        <img :src="item.url" :alt="index + 1">
           <div class="full-img-text">
               <h1>{{ item.title }}</h1>
               <p>{{ item.text }}</p>
           </div>
        </div>

        
        <div class="sidebar">



            <i v-on:click="previousItem" class="arrow fas fa-chevron-up"></i>


            <div v-for="(item, index) in items" class="side-img-container">
             
                <img :class='index === currentIndex? "light" : ""' :src="item.url" :alt="index + 1">
            </div>


            <i v-on:click="nextItem" class="arrow fas fa-chevron-down"></i>
        </div>
    </div>





<script src="js/script.js"></script>
</body>

</html>